
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	
	font-family: 'Inter', sans-serif;
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	transition: all 0.2s linear;
}

:root {
	--green: #898994;
}

span {
color: var(--green);
}


*::selection {

	background-color: var(--green);
	color: white;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	background-color: #1a1818;
	overflow-x: hidden;
}

html::-webkit-scrollbar {
	width: 1.4rem;
}

html::-webkit-scrollbar-track {

	background: #1a1818;
}

html::-webkit-scrollbar-thumb {
	background: var(--green);
}

section {
	min-height: 100vh;
	padding: 8rem 10%;
}

.btn {
	font-size: 1.7rem;
	padding: 0.7rem 4rem;
	border-radius: 5rem;
	margin-top: 1rem;
	background: none;
	color: #ffffff;
	cursor: pointer;
	border: 0.2rem solid var(--green);
}

.btn:hover {
	background-color: var(--green);
	color: #fff;
	transform: scale(1.1);
}

.heading {
	text-align: center;
	font-size: 4rem;
	padding: 0 0.5rem;
	color: #333;
}

.heading span {
	color: var(--green);
}



/* ******************************** Header Section *********************************** */
header {
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	background-color: #1a1818;
	padding: 1.5rem 10%;
	box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo img {
	width: 100px;
	cursor: pointer;
}

header .navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .navbar ul li {
	margin-left: 3rem;
}

header .navbar ul li:hover {
	transform: scale(1.1);
}

header .navbar ul li a {

	font-size: 1.9rem;
	color: white;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
	color: var(--green);
}

header #menu-bar {
	
	cursor: pointer;
	color: var(--green);
	font-size: 3rem;
	display: none;
}

.bt-whatsApp:hover {

	color: var(--green);
	transform: scale(1.1);

}
/* ******************************** Home Section ************************************* */
.home {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    text-align: left; /* Alinha o texto à esquerda */
	margin-top: 100px;
	
}

.home .content {
    text-align: left; /* Alinha o texto à esquerda */
    max-width: 600px; /* Defina a largura máxima conforme necessário */
	margin-bottom: 50px;
}

.home .content h3 {

	color: white;
	font-size: 6rem;
	
}

.home .content p {
	
	color: white;
	font-size: 2rem;
	margin-top: 10px;
	text-transform: none;
	line-height: 2;
	max-width: 150rem;
	padding-right: 100px;
	text-align: justify;
}


.home .btn {
	
	color: #fff;
	padding: 5px
}


.home .botões{

	gap: 20px;
  padding: 10px;
	display: flex;

}

.home .btn:hover {
	background-color: #898994;
	color: #fff;
	transform: scale(1.1);
}

.home .homeimage {
	border-radius: 1.5rem;
	width: 100%;
	height: auto;
	display: block;

}

/* ******************************** About Section ************************************* */
section.about {

	min-height: 90vh;
	margin-top: -5px;
}

.about {
	background: #1a1818;
	display: flex;
	justify-content: center;
	align-items: center;

}

.about .btn {
	font-size: 1.7rem;
	padding: 0.7rem 4rem;
	border-radius: 5rem;
	margin-top: 1rem;
	background: none;
	color: #ffffff;
	cursor: pointer;
	border: 0.2rem solid var(--green);
}

.btn:hover {
	background-color: var(--green);
	color: #fff;
}

.about .image {
	padding: 200px;
	height: 20px;
	object-fit: cover;
	background-blend-mode: screen;
	border-radius: 0.5rem;
}

.about .content {
	flex: 1 1 40rem;
	padding: 10rem;
}

.about .content h3 {
	font-size: 4rem;
	color: #ffffff;
}

.about .content p {
	font-size: 1.6rem;
	text-transform: none;
	padding: 1rem 0;
	line-height: 1.6;
	font-weight: lighter;
	color: #fff;
}
.about .aboutimage {
	border-radius: 1.5rem;
	width: 50%;
	height: auto;
	display: block;

}
/* ******************************** Menu Section ************************************* */
section.menu {
	min-height: 90vh;
	
}
 #menu {
	background-color: #1a1818;
 }
.menu .list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem 0;
	margin: 2rem 0;
	border-top: 0.3rem dashed rgba(0, 0, 0, 0.1);
	border-bottom: 0.3rem dashed rgba(0, 0, 0, 0.1);
}

.menu .list .btn {
	margin: 1rem;
}

.menu .list .btn.active {
	
	background-color: var(--green);
	color: #1a1818;
	padding: 5px
}
.menu .list .btn:hover {
	background: white;
	color: #fff;
}

.menu .row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: #fff;
}

.menu .row .image {
	flex: 1 1 40rem;
	margin: 2rem;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.menu .row .image img {
	width: 100%;
	object-fit: cover;
	border-radius: 1rem;
}

.menu .row .content {
	flex: 1 1 40rem;
}

.menu .row .content .info {
	padding: 1rem 0;
}

.menu .row .content .info h3 {
	display: flex;
	align-items: center;
	font-size: 2rem;
	color: #000000;
}

.menu .row .content .info h3 span {
	padding-right: 1rem;
	color: var(--green);
}

.menu .row .content .info p {
	padding: 1rem 0;
	padding-left: 3.5rem;
	font-weight: lighter;
	font-size: 1.5rem;
	color: #000000;
	text-transform: none;
}

/* ******************************** Popular Section ************************************* */
.popular {

	background: #1a1818;
	min-height: 90vh;
}

.popular h1 {
	color: white;
}

.popular .box-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.popular .box-container .box {
	width: 35rem;
	padding: 2rem;
	margin: 3rem;
	text-align: center;
	cursor: pointer;
	border-radius: 28px;
    background: #333;

}

.popular .box-container .box:hover {
	transform: scale(1.1);

}

.popular .box-container .box img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-radius: 0.5rem;
}

.popular .box-container .box h3 {
	color: white;
	font-size: 2.2rem;
	font-weight: normal;
}

.popular .box-container .box .starts i {
	color: var(--green);
	font-size: 1.2rem;
	padding: 1rem 0.1rem;
}

.popular .box-container .box .price {
	color: #000000;
	font-size: 2rem;
}

.popular .box-container .box .btn {
	background-color: var(--green);
	color: #fff;
}

.popular .box-container .box .btn:hover {
	background-color: #fff;
	color: var(--green);
}

/* ******************************** Footer Section ************************************* */
.footer {
	
	background: #333;
	padding: 0.5rem 1%;
}

.footer .box-container {
	display: flex;
	flex-wrap: wrap;

}

.footer .box-container .box {
	flex: 1 1 25rem;
	margin: 2rem;
	
}

.footer .box-container .box h3 {

	font-size: 2.2rem;
	color: #fff;
	padding: 1rem 0;
	font-weight: normal;
	color: var(--green);
}

.footer .box-container .box p {
	font-size: 1.5rem;
	font-weight: lighter;
	color: #eee;
	padding: 1rem 0;
}

.footer .box-container .box a i,
.footer .box-container .box p i {
	color: var(--green);
	padding-right: 0.5rem;
	margin: 1rem 0;
}

.footer .box-container .box a {
	font-size: 1.5rem;
	color: #eee;
	padding: 1rem 0;
	display: block;
}

.footer .box-container .box a:hover {
	color: var(--green);
	transform: scale(1.1);
}

.footer .box-container .box a:hover i {
	color: #fff;
}

.footer .credit {
	font-size: 15px;
	text-align: center;
	border-top: 0.2rem solid rgba(255, 255, 255, 0.7);
	padding: 2rem 1rem;
	font-weight: normal;
	letter-spacing: 0.1rem;
	color: #fff;
	text-transform: none;
}

.footer .credit a {
	color: var(--green);
}

/* Preloader */
.preloader {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #525050;
	display: grid;
	justify-content: center;
	align-items: center;
	visibility: visible;
	z-index: 999;
	transition: all 0.3s linear;
}

.hide-preloader {
	z-index: -999;
	visibility: hidden;
}


  .formulario {
	border-radius: 28px;
    background:  #333;
	}

	.formulario .formulario-contato  {
		
	box-shadow: none !important;
    background-color: #e2e2e2;;
	padding: 10px;
    width: 500px;
    text-align:justify;
	border-radius: 10px;
		
	}
  .mensagem {

    box-shadow: none !important;
    border-radius: 10px;
	background-color: #e2e2e2;
    margin-top: 15px;
	margin-left: 5px;
	padding: 10px;
    width: 500px;
    height: 100px;
	text-align: justify;

}

	.formulario  h3 {
		font-size: 3.2rem;
		color: #fff;
		margin: 5px;
		
	}

.servicos-section {

    background-color: #525050;
    padding: 50px 0;
    text-align: center;
}

.servicos-section h1 {
	color: white;
}

.servicos-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.servico {
	color: #fff;
    display: inline-block;
    max-width: 400px;
    padding: 0px;
    margin: 2%;
	border-radius: 28px;
    background:  #333;

}

.container {
    background-color: #525050;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
		
		
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {

    display: inline-flex;
    flex-direction: column;
    align-items:baseline;
	margin: 100px;
}

.heading {
	margin-bottom: 100px;
	margin-top: 50px;
}

.formulario-contato {
	
	margin: 5px;

}

.servico-icon {

	color: #898994;
    font-size: 35px;
    margin: 10px
}

.servico-nome {
	
    font-size: 20px;
    margin-bottom: 20px;
}

.servico-descricao {
    font-size: 15px;
		margin: 20px;
}

/* ******************************** Media Queries *********************************** */
@media screen and (max-width: 768px) {
	html {
		font-size: 50%;
	}

	/* header */
	header .logo img {
		height: 3rem;
		width: 8rem;
	}

	header #menu-bar {
		display: block;
	}

	header .navbar {
		position: fixed;
		top: 6rem;
		left: 0;
		width: 100%;
		background-color: var(--green);
		border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
		transform: scaleY(0);
		transform-origin: top;
		opacity: 0;
	}

	header .navbar ul {
		flex-direction: column;
		padding: 2rem;
	}

	header .navbar ul li {
		margin: 1.5rem;
		width: 100%;
	}

	header .navbar ul li a {
		display: block;
		color: #fff;
		padding-left: 1.5rem;
		border-left: 0.2rem solid #fff;
		font-size: 2rem;
	}
	header .navbar ul li a.active,
	header .navbar ul li a:hover {
		color: #000000;
		border-color: #000000;
	}

	.fa-times {
		transform: rotate(180deg);
	}

	header .navbar.nav-toggle {
		transform: scaleY(1);
		opacity: 1;
	}
	
		.heading {
			margin-bottom: 50px; /* Reduz a margem inferior do heading */
			margin-top: 30px; /* Reduz a margem superior do heading */
		}
	
		.servico {
			width: 90%; /* Ajusta a largura do serviço para 90% */
			margin: 2% auto; /* Centraliza o serviço */
		}
	
		.container {
			padding: 10px; /* Reduz o padding do container */
		}
	
		h2 {
			font-size: 20px; /* Reduz o tamanho da fonte do título */
			margin-bottom: 15px; /* Reduz a margem inferior do título */
		}
	
		.form {
			margin: 20px; /* Ajusta a margem do formulário */
		}

		.formulario-contato {
			max-width: 330px;
		}

		.mensagem {
			max-width: 330px;
		}

		.servico-icon {
			font-size: 25px; /* Reduz o tamanho do ícone do serviço */
			margin: 5px; /* Reduz a margem do ícone do serviço */
		}
	
		.servico-nome {
			font-size: 16px; /* Reduz o tamanho do nome do serviço */
			margin-bottom: 10px; /* Reduz a margem inferior do nome do serviço */
		}
	
		.servico-descricao {
			font-size: 12px; /* Reduz o tamanho da descrição do serviço */
			margin: 10px; /* Reduz a margem da descrição do serviço */
		}
	}
